@use '../../animations.scss' as a;
@use '../../variables.scss' as v;

.button {
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  padding: 0;
  transition: 0.3s ease-out;
}

.solid {
  padding: 1em;
  background-color: v.getTheme(blue);
  color: v.getTheme(white);

  &:hover {
    background-color: darken(v.getTheme(blue), 5%);
  }
  &:active {
    background-color: darken(v.getTheme(blue), 20%);
  }
  &:focus {
    box-shadow: 0 0 0 4px transparentize(lighten(v.getTheme(blue), 25%), 0.1);
  }
}

.link {
  margin: 1em;
  @include a.linkAnimation1(v.getTheme(black));
  color: v.getTheme(black);
  background: none;
}
