$font-weights: (
  normal: 400,
  bold: 700
);

$viewports: (
  mobile: '414px',
  tablet: '768px',
  desktop: '1440px'
);

$theme: (
  blue: hsl(210, 68%, 50%),
  paleSkin: hsl(41, 66%, 94%),
  white: hsl(0, 0%, 100%),
  black: hsl(0, 0%, 0%),
  gray: hsl(0, 0%, 32%)
);

@function getWeight($weight) {
  @return map-get($font-weights, $weight);
}

@function getTheme($color) {
  @return map-get($theme, $color);
}

@function getSize($size) {
  @return map-get($viewports, $size);
}

@mixin mediaMin($size) {
  @media (min-width: getSize($size)) {
    @content;
  }
}

@mixin mediaMax($size) {
  @media (max-width: getSize($size)) {
    @content;
  }
}
